.container {
  &.thumb {
    width: 40px;
  }
}

.imageContainer {
  width: 100%;
  height: 400px;
  display: block;
  text-align: center;
  background-color: #444;
}

.image {
  height: 400px !important;
  width: auto !important;
}
